@model DealerBlog.Entity.Post

<table class="table">
     
    <tr>
        <td>
            @Html.DisplayFor(model => model.Title)
        </td>
        <td>
            @Html.DisplayFor(model => model.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
        <td>
            @Html.DisplayFor(model => model.Meta)
        </td>
        <td>
            @Html.DisplayFor(model => model.UrlSlug)
        </td>
        <td>
            @Html.DisplayFor(model => model.Published)
        </td>
        <td>
            @Html.DisplayFor(model => model.PostedOn)
        </td>
        <td>
            @Html.DisplayFor(model => model.Modified)
        </td>
        <td>
            @Html.DisplayFor(model => model.Category)
        </td>
       
    </tr>
 

</table>
